@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    Secret value: @ViewData["secretValue"]
</div>
<div class="jumbotron">
    Configuration setting from KV : @ViewData["configValue"]
</div>